* {
  border-sizing: border-box;
}
html {
  background-image: url('bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  user-select: none;
  background-image: url('mathcat.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: flex;
  flex-direction: column;
  //text-justify: space-between;
  justify-content: space-between;
  overflow: auto;
  //height: 100vh;
  border: 2px solid navy;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}

body > header {
//  background: rgba(180, 180, 180, 0.7);
  padding: 4px;
  border-radius: 8px;
 // background-image: url('hd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
//  width: 100vw;
  border: 2px solid navy; //#00eed9;
  border-radius: 12px;
  //box-shadow: 0 0 15px #00ffea, 0 0 30px #00ffea;
  margin-left: 0;
}
h1 {
  text-align: center;
}
#volBtn {
  background: none;
  border: none;
}



h1{
 // font-size: 5rem;                 /* Make it big and bold */
  font-weight: 900;
  background-image: url("clock3.jpg"); /* Your image */
  background-size: cover;          /* Fill the letters */
  background-position: center;     /* Center the image */
  
  -webkit-background-clip: text;   /* Clip the image to the text */
  -webkit-text-fill-color: transparent; /* Make text itself transparent */
  
  //display: inline-block;           /* Fit background to text width */
}

#app {
 // border: 1px solid black;
}

body > footer {
//  background: rgba(180, 180, 180, 0.7);
  padding: 4px;
 // border-radius: 8px;
  //background-image: url('hd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  border: 2px solid navy; //#00eed9;
 // border-radius: 12px;
  //box-shadow: 0 0 15px #00ffea, 0 0 30px #00ffea;
}